{:spirit-island/metadata-svc {:filename "resources/metadata.edn"}
 :spirit-island/user-svc {:filename "resources/users.edn"}
 :spirit-island/cli      {:metadata-svc #ig/ref :spirit-island/metadata-svc
                          :user-svc    #ig/ref :spirit-island/user-svc}}