{:spirits     {
               ; Base game
               :lightning       {:name    "Lightning's Swift Strike", :difficulty :low
                                 :aspects {:pandemonium {:name "Pandemonium"}
                                           :immense     {:name "Immense"}
                                           :wind        {:name "Wind"}
                                           :sparking    {:name "Sparking"}}}
               :vital-strength  {:name    "Vital Strength of the Earth", :difficulty :low
                                 :aspects {:might      {:name "Might"}
                                           :nourishing {:name "Nourishing"}
                                           :resilience {:name "Resilience"}}}
               :river           {:name    "River Surges in Sunlight", :difficulty :low
                                 :aspects {:haven    {:name "Haven"}
                                           :sunshine {:name "Sunshine"}
                                           :travel   {:name "Travel"}}}
               :shadows         {:name    "Shadows Flicker Like Flame", :difficulty :low
                                 :aspects {:amorphous  {:name "Amorphous"}
                                           :dark-fire  {:name "Dark Fire"}
                                           :foreboding {:name "Foreboding"}
                                           :madness    {:name "Madness"}
                                           :reach      {:name "Reach"}}}
               :thunderspeaker  {:name    "Thunderspeaker", :difficulty :moderate
                                 :aspects {:tactician {:name "Tactician"}
                                           :warrior  {:name "Warrior"}}}
               :green           {:name    "A Spread of Rampant Green", :difficulty :moderate
                                 :aspects {:regrowth {:name "Regrowth"}
                                           :tangles  {:name "Tangles"}}}
               :ocean           {:name    "Ocean's Hungry Grasp", :difficulty :high
                                 :aspects {:deeps {:name "Deeps"}}}
               :bringer         {:name    "Bringer of Dreams and Nightmares", :difficulty :high
                                 :aspects {:enticing {:name "Enticing"},
                                           :violence {:name "Violence"}}}

               ;Branch and Claw
               :keeper          {:name "Keeper of the Forbidden Wilds", :difficulty :moderate
                                 :aspects {:hostility {:name "Spreading Hostility"}}}
               :fangs           {:name "Sharp Fangs Behind the Leaves", :difficulty :moderate
                                 :aspects {:encircle {:name "Encircle"}
                                           :unconstrained {:name "Unconstrained"}}}

               ; Feather and Flame
               :wildfire        {:name "Heart of the Wildfire", :difficulty :high
                                 :aspects {:terraforming {:name "Terraforming"}}}
               :serpent         {:name "Serpent Slumbering Beneath the Island", :difficulty :high
                                 :aspects {:locus {:name "Locus"}}}
               :downpour        {:name "Downpour Drenches the World", :difficulty :high}
               :finder          {:name "Finder of Paths Unseen", :difficulty :very-high}

               ; Jagged Earth
               :vengeance       {:name "Vengeance as a Burning Plague", :difficulty :high}
               :fractured       {:name "Fractured Days Split the Sky", :difficulty :very-high}
               :many-minds      {:name "Many Minds Move as One", :difficulty :moderate}
               :starlight       {:name "Starlight Seeks its Form", :difficulty :very-high}
               :shroud          {:name "Shroud of Silent Mist", :difficulty :high
                                 :aspects {:stranded {:name "Stranded"}}}
               :lure            {:name "Lure of the Deep Wilderness", :difficulty :moderate
                                 :aspects {:lair {:name "Lair"}}}
               :shifting        {:name "Shifting Memory of Ages", :difficulty :moderate
                                 :aspects {:intensify {:name "Intensify"}
                                           :mentor {:name "Mentor"}}}
               :volcano         {:name "Volcano Looming High", :difficulty :moderate}
               :stone           {:name "Stone's Unyielding Defiance", :difficulty :moderate}
               :trickster       {:name "Grinning Trickster Stirs Up Trouble", :difficulty :moderate}

               ; Horizons
               :teeth           {:name "Devouring Teeth Lurk Underfoot", :difficulty :low}
               :eyes            {:name "Eyes Watch from the Trees", :difficulty :low}
               :mud             {:name "Fathomless Mud of the Swamp", :difficulty :low}
               :rising-heat     {:name "Rising Heat of Stone and Sand", :difficulty :low}
               :sun-bright      {:name "Sun-Bright Whirlwind", :difficulty :low}

               ; Nature's Incarnate
               :behemoth        {:name "Ember-Eyed Behemoth", :difficulty :moderate}
               :hearth-vigil    {:name "Hearth Vigil", :difficulty :moderate}
               :roots           {:name "Towering Roots of the Jungle", :difficulty :moderate}
               :breath          {:name "Breath of Darkness Down Your Spine", :difficulty :high}
               :gaze            {:name "Relentless Gaze of the Sun", :difficulty :high}
               :wandering-voice {:name "Wandering Voice Keens Delirium", :difficulty :high}
               :wounded-waters  {:name "Wounded Waters Bleeding", :difficulty :high}
               :dances          {:name "Dances Up Earthquakes", :difficulty :very-high}
               
               ; Custom Spirits
               :simplicity      {:name "Simplicity Deals with Things Directly", :difficulty :low}
               :shimmering      {:name "Shimmering Traces of Madness", :difficulty :moderate}
               :tendrils        {:name "Tendrils of Hatred Seize Control", :difficulty :high}
               :dank-weed       {:name "Dank Weed Breeds Sloth", :difficulty :moderate}
               :fade            {:name "Fade to Dust and Whispers", :difficulty :low}
               :gathering       {:name "Gathering of the Smallest Things", :difficulty :moderate}},
 :boards      [:a :b :c :d :e :f],
 :adversaries {:brandenburg {:name "Brandenburg-Prussia"}
               :england     {:name "England"}
               :sweden      {:name "Sweden"}
               :france      {:name "France"}
               :habsburg    {:name "Habsburg Monarchy"}
               :russia      {:name "Russia"}
               :scotland    {:name "Scotland"}
               :hme         {:name "Habsburg Mining Expedition"}}}
